{
    "trailingComma": "es5",
    "printWidth": 95,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "importOrder": ["^react$|^react-native$", "^[A-Za-z].*|^@.*", "^[~].*", "^[./]"],
    "importOrderSeparation": true,
    "arrowParens": "avoid",
    "bracketSameLine": true
}